# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.tfstate.lock.info

# Variable files
*.tfvars

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
*.pem
*.key

# macOS
.DS_Store

# VS Code
.vscode/

# Environment files
.env
.env.*

# Terraform CLI configuration
terraform.rc
.terraformrc